/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos del pader/contenedor */
.contenedor{
    height: 500px;
    background-color: teal;
    /* flex */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


/* estilos de los hijos/items */

.hijo{
    background-color: tomato;
    width: 150px;
    height: 150px;
    margin: 15px;
}

/* estilos de ejemplo */

/* estilos generales */

body{
    background-color: whitesmoke;
}

/* estilos del header */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px; 
}


header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* estilos del main  */

main h1{
    text-align: center;
}

main .caja{
    display: flex;
    margin: 30px;
    gap: 60px;
}

main .caja .card-uno, .card-dos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}
